@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #f7f7f1;
	--foreground: #14332d;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #14332d;
		--foreground: #f7f7f1;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: "Poppins", sans-serif;
}

/* Score Ring */
.circular-progress {
	background: conic-gradient(#14332d var(--score-deg, 0deg), #d4ddd4 0deg);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
