@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #f7f6f8;
	--foreground: #160d1c;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1b1022;
		--foreground: #ffffff;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
}

/* Score Ring */
.circular-progress {
	background: conic-gradient(#9719f0 var(--score-deg, 0deg), #ddcfe8 0deg);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
